<h1>TASK  #2  (Carousel Component)  </h1>
                                                                                        
<div data-sly-use.objj="com.adobe.aem.guides.project2.core.models.Carouselsling">
    <div data-sly-list.item="${objj.multifield}">
        <p>path: ${item.path}</p>
        <p>text: ${item.text}</p>
        <div data-sly-list.nestedItem="${item.nestedmultifield}">
            <p>nested text: ${nestedItem.nestedtext}</p>
             
        </div>
    </div>
</div>